  <div class="modal newQ">
      <div class="list card" style="background:black !important;">
        <div class="padding">
        <label class="item" style="padding:0;">          
          <h1 style="float:left;color:white;">Ask</h1>
          <button ng-click="closeModal()" class="button button-small button-clear icon ion-android-close" style="float:right !important;"></button>
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Enter email address" >
          <button class="button button-small button-dark icon ion-person-add"></button>
        </label>


        <label class="item item-input">
          <input type="text" placeholder="Enter question" >
        </label>

        <div class="item-bar">
        <div class="item bar padding">
          <div class="button-bar">
            <a class="button button-dark icon-left ion-ios7-pricetag"> Category</a>
            <a class="button button-dark icon-left ion-ios7-eye"> Choice</a>
            <a class="button button-dark icon-left ion-ios7-world"> Public</a>
          </div>
        </div>
        </div>

        <div class="item item-body padding">
          <div class="row">
            <div class="button button-dark ion-image col"></div>
            <div class="button button-dark ion-image col"></div>
          </div>
          <div class="row">
            <div class="button button-dark ion-image col"></div>
            <div class="button button-dark ion-image col"></div>
          </div>
        </div>

      <div class="item bar padding">
        <div class="button-bar">
          <a class="button button-positive" ng-click="closeModal()">Ask</a>
        </div>
      </div>

      </div>
    </div>
</div>