<div class="list card" style="position:fixed;height:95%;width:94%;left:0;right:0;top:15px;margin:0px auto;">
<div class="padding">
 <h4 style="color:white;margin:6px;">Which background would better suit a cup cake website?</h4>

<slide-box class="slidebox">
	<slide>
		<div class="choice" ng-click="tickChoice()">
			<div id="tick">
				<div class="iconCenter icon ion-ios7-checkmark"></div>
			</div>
			<img src="images/flower.jpg"/>
		</div>
	</slide>
	<slide>
		<div class="choice" ng-click="tickChoice()">
			<div id="tick">
				<div class="iconCenter icon ion-ios7-checkmark"></div>
			</div>

			<img src="images/scene.jpg"/>
		</div>
	</slide>
	<slide>
		<div class="choice" ng-click="tickChoice()">
			<div id="tick">
				<div class="iconCenter icon ion-ios7-checkmark"></div>
			</div>

			<img src="images/cool.jpg"/>
		</div>	
	</slide>
</slide-box>

<div ng-include src='"views/footer.html"'></div>
</div>
</div>