<div class="list card" style="position:fixed;height:95%;width:94%;left:0;right:0;top:15px;margin:0px auto;">
	<div class="padding">
        <label class="item" style="padding:0;">
          <h1 style="float:left;color:white;">John Doe</h1>
          <a ng-href="#play" class="button button-small button-clear icon ion-android-close" style="float:right !important;"></a>
        </label>

        <canvas id="statsPie" height="290" width="290"></canvas>
        <div class="legend icon ion-ios7-circle-filled" style="color:blue;"> Answered</div>
        <div class="legend icon ion-ios7-circle-filled" style="color:#cfcfcf;"> Asked</div>
        <div class="legend icon ion-ios7-circle-filled" style="color:orange;"> Dismissed</div>       
    </div>


    <div class="bar bar-footer" style="background:transparent;">
	<div class="button-bar">
		<a class="button button-dark icon ion-ios7-upload-outline" ng-href="#sent"></a>
		<a class="button button-dark icon ion-ios7-pie" ng-click=""></a>
		<a class="button button-dark icon ion-ios7-download-outline" ng-href="#answered"></a>
	</div>
	</div>
</div>

